.promption{
        display: flex;
        margin-bottom: 30px;
        .logo{
            width: 292px;
            height: 253px;
            background: #EF4C71;
            &>*{
                font-family: PingFangSC-Medium;
                color: #fff;
            }
            h1{
                width: 100%;
                padding: 22px;
                font-size: 28px;
                text-align: center;
            }
            p{
                font-size: 18px;
                padding-left: 25px;
            }
            
            a{
                text-decoration: none;
                display: block;
                text-align: center;
            }
        }
        .pics-slider{
            .pics-list{
                
            }
        }
        
    }