.siderbar{
    display: flex;
    ul{
        width: 11rem;
        background:#f1496f; 
        padding-bottom: 2rem;
        li{
            list-style: none;
            padding: 1rem 2rem;
            cursor: pointer;
            a{
                text-decoration: none;
                font-size: 1.143em;
                color: #fff;
                font-family: PingFangSC-Medium;
            }

        }
    }
}