.header-top{
    height: 50px;
    background: #eee;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    .front{
        font-size: .9em;
        padding: 1em;
        color: #666a73;
    }
    .end{
        &>*{
            margin: 0 .3em;
            // border: 1px solid red
        }
        display: flex;
        align-items: center;
        i:nth-of-type(2) {
            margin-right: 0;
        }
        p{
            font-size: .5em;  
            margin-left: 0;  
        }

    }
}